* {
  margin: 0%;
}

.Title_1 {
  font-size: 2.5em;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  margin-top: 5%;
  font-family: "Courier New", Courier, monospace;
}

.p_1 {
  font-size: 1.5em;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  margin-top: 5%;
  font-family: "Courier New", Courier, monospace;
}
img {
  border-radius: 8px;
  max-width: 30%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.Title_2 {
    font-size: 2.5em;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    margin-top: 5%;
    font-family: 'Times New Roman', Times, serif;
}

.p_2{
    font-size: 1.5em;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    margin-top: 5%;
    font-family: 'Times New Roman', Times, serif;
}

.Title_3 {
    font-size: 2.5em;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    margin-top: 5%;
    font-family: cursive;
    
}

.p_3{
    font-size: 1.5em;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    margin-top: 5%;
    font-family: fantasy;
}